RobloxPlayer/
RobloxStudio/
ProtonBuild/
runtime/
production/
builds/
logs/
otherapps/
build/

launcher/build/
launcher/third_party/

.env

push.sh
production.sh

__pycache__/

installer/build/
installer/third_party/

*.log
*.pyc
*.dll
*.exe
*.so
*.archived

ProtonSource/dist
ProtonSource/dist-*
ProtonSource/obj-*
ProtonSource/syn-*
protonbuild-*.tar.gz

.claude/
.superpowers/
docs/
plan/
CLAUDE.md

/*.tar.gz