RobloxPlayer/
RobloxStudio/
ProtonBuild/
prefix/

.env

push.sh

__pycache__/

*.log
*.pyc
*.dll
*.exe
*.so

ProtonSource/dist
ProtonSource/dist-*
ProtonSource/obj-*
ProtonSource/syn-*

ProtonSource/.vagrant/
ProtonSource/vagrant_share/
ProtonSource/build/
