# wine used to be a submodule, now its a seperately maintained fork, integrated into TuxBlox Proton
# [submodule "compat/wine"]
#	path = compat/wine
#	url = https://github.com/ValveSoftware/wine
[submodule "compat/dxvk"]
	path = compat/submodules/dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "compat/openvr"]
	path = compat/submodules/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "compat/fonts/liberation-fonts"]
	path = compat/submodules/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "compat/gstreamer"]
	path = compat/submodules/gstreamer
	url = https://github.com/GStreamer/gstreamer.git
[submodule "compat/gst-orc"]
	path = compat/submodules/gst-orc
	url = https://github.com/GStreamer/orc.git
[submodule "compat/OpenXR-SDK"]
	path = compat/submodules/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "compat/dxvk-nvapi"]
	path = compat/submodules/dxvk-nvapi
	url = https://github.com/jp7677/dxvk-nvapi
[submodule "compat/vkd3d"]
	path = compat/submodules/vkd3d
	url = https://gitlab.winehq.org/wine/vkd3d
[submodule "compat/Vulkan-Headers"]
	path = compat/submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "compat/SPIRV-Headers"]
	path = compat/submodules/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "compat/Vulkan-Loader"]
	path = compat/submodules/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "compat/gst-libav"]
	path = compat/submodules/gst-libav
	url = https://github.com/GStreamer/gst-libav
[submodule "compat/ffmpeg"]
	path = compat/submodules/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "compat/dav1d"]
	path = compat/submodules/dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "compat/gst-plugins-rs"]
	path = compat/submodules/gst-plugins-rs
	url = https://github.com/sdroege/gst-plugin-rs
[submodule "compat/graphene"]
	path = compat/submodules/graphene
	url = https://github.com/ebassi/graphene
[submodule "compat/glslang"]
	path = compat/submodules/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "compat/FEX"]
	path = compat/submodules/FEX
	url = https://github.com/FEX-Emu/FEX/
[submodule "compat/libsoup"]
	path = compat/submodules/libsoup
	url = https://github.com/GNOME/libsoup.git
