pkgbase = tuxblox
	pkgdesc = Roblox Player and Studio on Linux via a custom-patched Proton (per-user install into ~/.tuxblox)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://tuxblox.net
	install = tuxblox.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = glibc
	depends = gcc-libs
	depends = sdl2
	depends = curl
	depends = libarchive
	depends = openssl
	depends = libglvnd
	depends = xdg-utils
	depends = desktop-file-utils
	optdepends = vulkan-icd-loader: Vulkan runtime used by DXVK to run Roblox
	optdepends = vulkan-radeon: Vulkan driver for AMD GPUs
	optdepends = vulkan-intel: Vulkan driver for Intel GPUs
	optdepends = nvidia-utils: Vulkan driver for NVIDIA GPUs
	options = !strip
	options = !debug
	source = TuxBloxInstaller-0.2.0::https://setup.tuxblox.net/v1/stable/0.2.0/installer
	source = tuxblox.sh
	source = tuxblox.desktop
	source = tuxblox.png
	sha256sums = 677e89328f5ee3f2ce49b3764d2f7fa76dac03b27d51d8170be46f1efed7586a
	sha256sums = d1a41c8734431263ffec02c34eab3f95f1de7548e568ca4e7a5e9edb8ce4b05f
	sha256sums = a63bb16d853d6f73c94ecf4cf481d29c1aaaa0bad5cd1372181b9bb33febfdeb
	sha256sums = f3a37ba1021a36f4f402abcfa69741d86a09431e706973302285694a3fe35812

pkgname = tuxblox
